.area-container {
     padding: 30px;
     color: white;
   }
   
   .area-title {
     margin-top: -50px;
     font-size: 35px;
     margin-bottom: 20px;
     font-weight: bold;
     text-align: center;
   }
   .area-container {
     height: 100vh; 
     display: flex;
     justify-content: center; 
     align-items: center;     
     padding: 30px;
     color: white;
     background:#F6FAFF; 
     box-sizing: border-box;
     flex-direction: column; 
   }
   .area-card {
     background-size: cover;
     background-position: center;
     padding: 20px;
     border-radius: 10px;
     overflow-x: auto;
     min-width: 600px; 
     max-width: 900px; 
     max-height: 800px; 
     display: flex;
     justify-content: center;
     align-items: center;
     width: 90%;  
     max-width: 980px;
     margin: 0 auto; 
   }   
   
   .area-table {
     width: 90%;
     border-collapse: collapse;
     background: rgba(255, 255, 255, 0.15); /* fondo blanco semi-transparente */
     border-radius: 10px;
     overflow: hidden;
   }
   
   .area-table th,
   .area-table td {
     border: 1px solid rgba(255, 255, 255, 0.3);
     padding: 20px;
     font-size: 20px;
     text-align: left;
     background-color: rgba(255, 255, 255, 0.25); /* fondo semi-transparente */
     color: white;
     white-space: nowrap;
   }
   
   .area-table thead th {
     background-color: rgba(255, 255, 255, 0.35);
     font-weight: bold;
   }
   
   /* Para que el botón mantenga texto blanco */
   .pdf-button {
     white-space: nowrap; /* evita salto de línea */
     background-color: #061A8B;
     color: white;
     border: none;
     padding: 6px 12px;
     border-radius: 4px;
     cursor: pointer;
     font-size: 18px;
   }
   