# 📦 Laravel backend
/vendor
/node_modules
.env
.env.*
/storage/*.key
/public/storage
/storage/oauth-private.key
/storage/oauth-public.key
.phpunit.result.cache

# 🚀 Frontend con Vite
frontend/node_modules/
frontend/dist/
/frontend/package-lock.json


# ⚙️ Laravel Mix o Vite compilados (si aplicara)
public/mix-manifest.json
public/hot
public/build/

# 🗝 Archivos sensibles
composer.lock   # solo si no deseas subirlo

# 🚫 Sistema operativo y basura
.DS_Store
Thumbs.db

# 💻 IDE settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log
