.user-dropdown {
    position: relative;
  }
  
  /* Menú desplegable alineado a la izquierda */
  .dropdown-menu {
    position: relative;
    transform: translateX(-80px);
    left: 0;
    background: white;
    color: black;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    z-index: 999;
  
    max-width: 250px;
    width: max-content;
    min-width: 150px;
    overflow-wrap: break-word;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-menu li {
    padding: 0.5rem;
    white-space: nowrap;
  }
  
  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }
  