.category-container {
    display: flex;
    flex-direction: column;
  }
  
  .header-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
  }
  
  .spacer {
    flex-grow: 1;
  }
  
  .add-button {
    border-radius: 20px;
    background-color: #4355b9;
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .add-button:hover {
    background-color: #3a489e;
  }
  
  .table-container {
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) ;
    margin-bottom: 16px;
  }
  
  .header-cell h2{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-cell{
    background-color: #f9f9f9 ;
  }

  .content-row{
    display: flex;
    justify-content: space-between;
  }
  
  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  
  .icon-button {
    border: 1px solid #e0e0e0 ;
    border-radius: 4px ;
    padding: 4px ;
  }
  
  .footer-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 16px;
  }
  
  .cancel-button {
    border-radius: 4px ;
    padding: 8px 24px ;
    color: #666 ;
    border-color: #ccc ;
  }
  
  .save-button {
    border-radius: 4px;
    padding: 8px 24px;
    background-color: #4355b9;
  }
  
  .save-button:hover {
    background-color: #3a489e;
  }
  
  